:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #8e44ad;
  --color-secondary: #2c3e50;
  --color-dark: #1f2c39;
  --color-bg: #0e151c;

  /* Fonts */
  --font-roboto: "Roboto";
}